<% if current_user.guest_user? %>
  <button class ="btn btn-secondary" disabled >ログインするとお気に入り機能をご利用いただけます</button>
<% else %>
  <% if @recipe.favorited_by?(current_user) %>
    <%= link_to 'お気に入り登録済' ,recipe_favorites_path(@recipe.id), method: :delete, class: "btn btn-secondary ",remote: true %>
  <% else %>
    <%= link_to 'お気に入り登録する', recipe_favorites_path(@recipe.id), method: :post ,class: "btn btn-primary",remote: true %>
  <% end %>
<% end %>