<div class ="container">
  <div class ="row">
    <div class ="col-10 offset-2">
      <h4 class ="header">レシピ一覧</h4>
      <%= render 'user/share/list', recipes: @recipes%>
      <%= paginate @recipes %>
    </div>
  </div>
</div>

