<div class ="container">
  <div class ="row">
    <div class ="card col-12">
      <h3 class ="card-header">目標を設定する</h3>
      <h4 class ="header pl-3">目標を設定するにあたって</h4>
      <div class ="text-left">
        <p>ダイエットをするにあたって、無理のない範囲で目標を設定するのはとても有効です。しかし、短期間で大きく痩せようとすることは健康上のリスクを伴いますので注意してください。<br>
        個人差はもちろんございますが、当サイトでは一月あたり2キロでの減量をおすすめします。<br>
        また、ただ痩せて終わりではなく、理想の体を維持していくこと推奨しています。もちろん好きなもの、美味しいものを食べることは楽しみの一つではありますが、これを機に普段の食生活の乱れを改善するつもりで取り組んでいただければと思います。<br>
        有酸素運動や筋力のトレーニングもあわせて習慣化していくと更に効果的です。私生活に支障のない程度で、ストレスなく取り組めるような目標を立てましょう！
      </p>
      </div>

      <h4 class ="header pl-3 mt-5">目標を設定する</h4>
      <%= form_with model: @user, url: mypages_goals_path, method: :patch ,local: true do |f|%>
        <div class ="form-inline text-left my-3">
          <%= f.date_field :target_date , use_month_number: true ,class: "form-control mr-3"%>

          <label>までに</label>



          <%= f.text_field :target_weight, class: "form-control mx-3" %><label>kg</label>

          <%= f.submit "目標を登録" ,class: "btn btn-success ml-5"%>
        </div>

      <% end %>

    </div>
  </div>
</div>