<div class ="row">
  <% recipes.each do |recipe| %>
    <div class ="col-3 p-1">
      <%= link_to recipe_path(recipe.id) ,class: "card shadow-sm my-1" do %>
        <%= image_tag recipe.get_image, class: "card-img-top" %>
        <span class= "card-body"><%= recipe.title %></span>
      <% end %>
    </div>
  <% end %>
</div>