<div class ="container p-5">
  <div class ="row">
    <div class ="card col-10 offset-1 p-3">
      <div class ="text-center">
        <h4 class ="card-header mb-3">Tips -ダイエットにおける食事の重要性とその知識-</h4>
      </div>

      <p>
        　このサイトのトップページでもお伝えしていますがダイエットで重要なのは食事です。
        正確に言うと摂取カロリーを消費カロリー未満に抑えることですが、それを手っ取り早く実現するためには摂取カロリーを抑えること、つまり飲食を調整することが手っ取り早いのです。<br>
        　運動や日々の活動を増やして消費カロリーを伸ばすという方法は有効ではありますが、人間の活動量や運動で消費できるカロリーには限度がある上、過度な運動は自分の体に疲労を溜め込み、結果として消費カロリーを少なくしてしまう原因になります。
        運動だけで消費カロリーを伸ばすことは現実的ではありません。<br>
        　適切な運動も大事ではありますが、ここでは食事にフォーカスして、どのように改善に取り組んで行けばいいかをお話していこうと思います。<br>
        　<mark>このページの下部にダイエットに役立つ計算ツールを用意してあります。ここの知識とともにぜひご活用ください。</mark>
      </p>
      <h4 class ="header border-bottom"><i class="fa-solid fa-person-running"></i>　自分の基礎代謝と活動量から消費カロリーを割り出す</h4>
      <p>
        　改めて摂取カロリーを調整するということに着目していきましょう。<br>
        カロリーを少なくするというと、極端な話をすれば簡単で、食事を全部抜いてしまえば摂取カロリーは０になります。
        消費カロリーは変わらず消費されますから、まるまる自分の体内のエネルギーを燃やすことになります。簡単に体重なんて落とせますね。<br>
        　ですがこれはあまりにも健康的ではありません。ホルモンバランスは崩れて肌のあちこちが荒れるでしょうし、脂肪のかわりに生活に必要な筋肉が犠牲になり、体調を崩し、精神的にも大きなストレスを抱えます。
        リバウンドの原因にもなりかねないでしょう<br>
        　体重を減らすためだけに他の大切なものを天秤に掛けては本末転倒です。そうならないためにも食に対する知識というものはとても重要です。<br>
        <br>
        まず人間には基礎代謝というものがあります。これは一日人間が何もせず横になっていたとしても絶対に消費するカロリー量のことで、<mark>人間が生きていくためには最低限必要なカロリー</mark>のことです。
        これと日々の活動量によってメンテナンスカロリー(体重が増えも減りもしない、ちょうどいいカロリー量)を仮定し、これの前後にカロリーを調整することで減量、増量を進めていきます。<br>
      </p>

      <h4 class ="header border-bottom">　体脂肪と体重</h4>
      <p>
        　体脂肪は、1kg落とすために7200kcalのカロリーを落とす必要があると言われています。気が遠くなるような数字ですね。一気に摂取カロリーを落とすことはできないので、ダイエットは長い目で見ていく必要があります。<br>
        　では日々体重が1,2kg変動する理由は何でしょう？これの正体は浮腫みや排泄物のせいです。一気に体脂肪が1kgも増えるようなことは決してありません。なので1,2kgの体重の増減で気を病む理由は全く無いので安心してください。
        一週間に一度好きなものをたくさん食べたとしても、他の日の食事をメンテナンスカロリーに調整すれば太ることは全然心配する必要はありません。<br>
        　<mark>一週間に一度、最低体重を更新していればいいや程度の気持ちで取り組むほうが精神的に楽です</mark>。<br>
        　話を戻します。では、ダイエットをするために最適なカロリーはどのくらいでしょうか？<br>
        　結論からお話しますと、毎日<mark>メンテナンスカロリーより200kcal~400kcal低い程度の食事</mark>をおすすめします。
        食事と言うのは我々が栄養を取り込むために必須な作業であり、カロリーを減らしすぎるのはあまりよくありません。
        極端にカロリーを減らすことで日常生活に支障を来す可能性があるからです。
      </p>

      <h4 class ="header border-bottom">　食事の内容について</h4>
      <p>
        　これまででどのくらいのカロリーを取れば良いのかということはざっとわかっていただけたと思いますが、次に生まれるのが「じゃあなにを食べればいいの？」という疑問だと思います。<br>
        　これからはその摂取カロリーをどのような栄養バランスで摂っていくかということについて考えていきます。<br>
        　人間が必要としている栄養素の中で、カロリーがあるのは<mark>糖質、脂質、タンパク質</mark>の3つです。<br>
        　糖質は<mark>人間が動くための主なエネルギー源</mark>となります。車にとってのガソリンだと同じようなものです。注意して頂きたいのは一般的な栄養成分表に書かれている炭水化物は、「糖質と食物繊維の量を合わせたもの」です。
        　食物繊維はまた別の栄養素で、カロリーを持つものではないので気をつけてください。<br>
        　タンパク質は人間のエネルギー源となるほか、<mark>人体を構成するあらゆるものの材料</mark>となります。爪、髪の毛、筋肉、内臓、皮膚、全てがタンパク質によってできています。<br>
        　脂質はエネルギー源となる他<mark>ホルモンの材料</mark>となります。一番カロリーが高く悪とされがちな栄養素ですが、人間には必要なものです。<br>
        　これらの栄養素は1gあたりおおよそ、<mark>糖質とタンパク質は4kcal、脂質は9kcal</mark>のカロリーを持っています。<br>
        　これらの栄養素をどのように組み合わせていくかを解説していきます。皆さんは下に計算機を用意してあるのでそちらを活用してください。<br>
        　タンパク質と脂質の量から決めていきます。一日の摂取目安としてタンパク質は<mark>自分の体重(kg)×(運動量に応じて1~1.6)グラム</mark>が必要と言われています。
        運動をあまりしない体重50kgの人であれば50gの、頻繁に激しい運動をする60kgの人は96gのタンパク質が必要になるということです。<br>
        　脂質は<mark>摂取カロリー全体の10%~20%を目安</mark>にしましょう。摂取カロリー2000kcalの人が全体の15%の脂質を取るとすると(2000×15÷100)÷9で、およそ33gくらいになります。<br>
        ここで割り出した脂質とタンパク質のカロリーを計算し、残りの摂取カロリーを糖質で摂るようにすると、ちょうどよい栄養バランスになります。
      </p>
      <h4 class ="header border-bottom">　食材の選び方</h4>
      <p>
        　これで食事の内容についてもおわかり思います。自炊の方は使う食材と調味料のカロリーを計算しながら、外食やコンビニをよく利用される方は商品の栄養成分表示を見ながら食事を決めていけば問題ありません。<br>
        　ただ、お気づきかとおもいますがどうしても脂質の摂取量が少なくなってしまうので食材の幅が狭くなります。ここでは三大栄養素それぞれのオススメの栄養素の摂取源と気をつけるべき食材を紹介したいと思います。 <br>
        　脂質が多くなるものには<mark>マーク</mark>をつけているので、複数選ぶのは避けたほうが良いでしょう。
      </p>
      <h5 class ="header">　糖質</h5>
      <p>米、<mark>オートミール</mark>、イモ類、カボチャ、うどん、<mark>蕎麦</mark></p>
      <h5>　タンパク質</h5>
      <p>大豆製品(豆腐、納豆)、イカ、タコ、貝類、甲殻類(エビ、カニ)、白身魚、<mark>青魚(サバやサンマ等)</mark>、<mark>魚肉加工品(揚げ物に注意)</mark>、牛肉(赤身肉)、鶏肉(皮をはいだもの)</p>
      <h5>　<mark>良質な脂質</mark></h5>
      <p><mark>アボガド、オリーブオイル、ナッツ類、青魚、アマニ油、えごま油</mark></p>
      <p>
        <br>
        　ここまで触れてこなかった野菜に関してですが、野菜はある程度積極的に食べたほうが良いでしょう。
        ある程度カロリーが存在するものも多いですが、人間に必要な微量栄養素が多く含まれているものも多いです。葉っぱものの野菜やきのこ類、根菜には食物繊維が多く含まれており、胃腸の環境を整えるのに役立ちます。<br>
        　ただ、食べる際に気をつけていただきたいのはドレッシングです。大抵のドレッシングには大量の油が使われており、使用する量によっては脂質過多になる可能性があります。
        <mark>ドレッシングに限らず、調味料にもカロリーは存在するので、栄養成分を気にしておくと良いでしょう。</mark>
      </p>
      <h4 class ="header border-bottom">消費カロリー、栄養バランス計算機</h4>
      <p>ここまでの説明をもとに、メンテナンスカロリー計算</p>
    </div>
  </div>
</div>